/*expectations for this section of code: create a 2 
column layout and add more styling. can use floats, flexbox, 
or grid layout*/
body {
    background-color: #f1f1f1;
    color:#f1f1f1;
}
#wrapper {
    font-family: 'Alegreya Sans', Verdana, sans-serif;
    width: 750px;
    margin-left: 400px;
    display: block;
    overflow: auto;
    min-width: 960px;
    max-width: 2048px;
}
header {
    text-align: center;
    font-family: 'Exo 2', Helvetica, sans-serif;
    background-image: url("images/space.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
main {
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
hr { 
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    color: #
}
nav {
    text-align: center;

}
nav a {
    text-decoration: none;
    color: #f1f1f1 ;
    font-family: 'Exo 2', Helvetica, sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav li {
    display: inline-block;
    padding: 0em 3em;
}
nav a:hover {
    color: #e6ff00;
}
#studio {
    background-image: url('images/studio.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100vw;
    border: 1px solid #f1f1f1;
}
#camera {
    background-image: url('images/camera.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100vw;
    border: 1px solid #f1f1f1;
}
h2 {
    text-align: center;
    font-family: 'Exo 2', Helvetica, sans-serif;
}
section {
    float: right;
    width: 25%;
    overflow: auto;
    display: block;
    border: 1px solid #c8291c;
    clear: both;
}
footer {
    font-size: 75%;
    clear: both;
    font-style: italic;
    text-align: center;
    font-family: 'Exo 2', Helvetica, sans-serif;
}
footer a {
    text-decoration: none;
    color: #e6ff00;
}
