body {
    background-color: #878787;
    color:#f1f1f1;
}
#wrapper {
    font-family: 'Alegreya Sans', Verdana, sans-serif;
    width: 750px;
    margin-left: 400px;
    display: block;
    overflow: auto;
    min-width: 960px;
    max-width: 2048px;
}
header {
    text-align: center;
    font-family: 'Exo 2', Helvetica, sans-serif;
    background-image: url("images/space.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
main {
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
hr { 
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    color: #f1f1f1
}
nav {
    text-align: center;

}
nav a {
    text-decoration: none;
    color: white;
    font-family: 'Exo 2', Helvetica, sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav li {
    display: inline-block;
    padding: 0em 3em;
}
nav a:hover {
    color: #e6ff00;
}
.image1 {
    display: block;
    width: 50%;
    height: 50%;
    border: 1px solid #f1f1f1;
    clear: both;
    padding: 1em;
}
.image2 {
    display: block;
    width: 50%;
    height: 50%;
    border: 1px solid #f1f1f1;
    clear: both;
    padding: 1em;
}
h2 {
    text-align: center;
    font-family: 'Exo 2', Helvetica, sans-serif;
}
footer {
    font-size: 75%;
    clear: both;
    font-style: italic;
    text-align: center;
    font-family: 'Exo 2', Helvetica, sans-serif;
}
footer a {
    text-decoration: none;
    color: #e6ff00;
}
